<div class="container" id="home">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-start">
        <h1 class="big-title">Daniel Perez.</h1>
        <h2 class="cyan">Software Developer</h2>
        <h3>
            South Florida based developer with more than 7 years of development experience, from Desktop level applications to Web Development full stacks. In the service of local small businesses since 2014.
        </h3>
        <a type="button" class="btn btn-outline-primary btn-lg mt-3">Resume</a>
    </div>
</div>
<div class="container" id="about">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="row">
            <div class="col-lg col-md-6 col-sm-12 offset-lg-2">
                <h1 class="cyan">About Me</h1>
                <h3>
                    Florida based developer, graduated from Florida International University with a Bachelor of Arts in Computer Science. Specializing in Full-Stack Web Development in Angular and RESTful API frameworks, Spring and Express. Relation Database Management experience
                    using Postgres.
                </h3>
            </div>
            <div class="col-lg col-md-6 col-sm-12">
                <img class="me-img img-fluid border border-2 rounded" src="../../../assets/images/me.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container" id="projects">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="row">
            <div class="col-lg">
                <h1 class="cyan text-center m-5">Projects</h1>
                <app-git-proj-component></app-git-proj-component>
            </div>
        </div>

    </div>
</div>