
@import '../../../../styles.less';
.blog-feed-post{
    border: 2px solid @baseDark;
    padding-top: 0px;
    height: 400px;
    padding: 1ch;
    background-color: @baseLight;
}
.blog-title{
    background-color: @baseDark;
    color: whitesmoke;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

}
.preview-text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    // display: block;
  }
  @media @phone {
    .preview-text {
        -webkit-line-clamp: 8;

      }
}
